# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

work/CAL_DATA/*
work/Lithium2d.gnu.MPI.ex
*.pyc
*.zip
.DS_Store
Tools/F_scripts/preprocess.pyc
